// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.



// Color system

$white:    			#fff !default;
$gray-lighter:   	#F3F3F3 !default;
$gray-light:   		#E7E7E7 !default;
$gray:			   	#999999 !default;
$black-lighter:		#110837 !default;
$black:			   	#141414 !default;
$blue:    			#245BD2 !default;
$blue-dark:    		#151A59 !default;
$red:    			#FF5A50 !default;
$green:    			#32B400 !default;
$yellow:    		#FFB400 !default;
$secondary:    		#F2F8FC !default;
$cyan: 				#46EEF8 !default;

$theme-colors: (
  "blue": $blue,
  "blue-dark": $blue-dark,
  "black": $black,
  "black-lighter": $black-lighter,
  "cyan": $cyan,
);

$primary:       	$blue !default;
$dark:            $black-lighter !default;


// Spacing

$spacer: 1rem !default;



// Body

$body-bg:        	$black-lighter !default;
$body-color:        $white !default;



// Links

$link-color:                              $cyan !default;
$link-hover-decoration:                   none !default;



// Grid columns

$grid-gutter-width: 32px !default;



// Components

$border-width:            0 !default;
$border-color:            $gray !default;

$border-radius:           0 !default;
$border-radius-lg:        0 !default;
$border-radius-sm:        0 !default;



// Typography

$font-size-base:            1rem !default; // Assumes the browser default, typically `16px`
$font-family-sans-serif: 	"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$headings-font-family:   	'Montserrat', $font-family-sans-serif !default;
$headings-font-weight:    	bold !default;
$h1-font-size:				$font-size-base * 2.5 !default;
$h2-font-size:				$font-size-base * 1.875 !default;
$h3-font-size:				$font-size-base * 1.5 !default;
$h4-font-size:				$font-size-base * 1.25 !default;
$h5-font-size:				$font-size-base * 1.25 !default;
$h6-font-size:				$font-size-base * 1.25 !default;


// Buttons + Forms

$input-btn-padding-y:         .375rem !default;
$input-btn-padding-x:         .75rem !default;
$input-btn-border-width:      $border-width !default;
/*$input-border-color:          $blue !default;*/
$input-btn-font-size-lg:      $font-size-base !default;

$input-btn-padding-y-lg:         .75rem !default;
$input-btn-padding-x-lg:         1.375rem !default;



// Buttons

$btn-font-weight:             $font-weight-semibold !default;
$btn-border-radius:           4rem !default;
$btn-border-radius-lg:        4rem !default;
$btn-border-radius-sm:        4rem !default;



// Navs

$nav-link-padding-y:                .5rem !default;



// Navbar

$navbar-padding-y: 					$spacer * 2 !default;
$navbar-nav-link-padding-x:			1rem !default;
$navbar-dark-brand-color: 			$white !default;
$navbar-dark-brand-hover-color: 	$cyan !default;
$navbar-dark-color:                	$white !default;
$navbar-dark-hover-color:          	$cyan !default;
$navbar-dark-active-color:          $cyan !default;
























