// Variable overrides
@import "custom-variables";

// Bootstrap and its default variables
@import "../src/bootstrap-4.3.1/scss/bootstrap";



html{
	-webkit-font-smoothing: antialiased;
}

a,
.underline {
	border-bottom: 1px solid $gray-500;
	transition: all .15s ease-in-out;

  @include hover {
    color: $link-hover-color;
    border-bottom-color: $cyan;
  }

  &.underline-none{
    border-bottom: none;
  }
}
.bg-dark,
.bg-blue,
.text-light{
  a{
    color: $white;
    border-bottom-color: $gray-500;
    &:hover{
      color: $cyan;
      border-bottom-color: $cyan;
    }
  }
}
.bg-blue-dark{
  background-color: $blue-dark;
}

img{
  max-width: 100%;
}

.img-full{
  width: 100%;
  height: auto;
}

.img{
  -webkit-background-size: cover;
  background-size: cover;
}
.img-ratio-square{
  padding-top: 100%;
}
.img-ratio-photo{
  padding-top: 75%;
}
.img-ratio-video{
  padding-top: 56.25%;
}

.equal{
  background-clip: content-box;
}

.hero{
  background-image: linear-gradient(to right, $blue , $blue-dark);
}

.material-icons{
	line-height: 1em;
	font-size: 1em;
	// display: inline-flex;
    vertical-align: bottom;
}

.navbar{
	a{
		border-bottom: none;
	}
}
.navbar-brand{
	font-family: $headings-font-family;
	font-weight: bold;
	line-height: 1.2em;
}
.navbar-nav {
  .nav-link {
    font-weight: 600;
    line-height: 1em;
  }
}
.navbar-toggler {
  border: none; // remove default button style
}

.form-control{
  &.featured{
    /*border: 4px solid $primary;*/
    border-color: $primary;
  }
}
.input-group{
  &.featured{
    border: 2px solid $primary;
  }
}

.post-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  // justify-items: stretch;
  // align-items: stretch;
}
.post-item-featured,
.post-item{
  h4{
    line-height: 1.5em;
  }
}
.post-item-featured{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.post-item{
  h4{
    font-size: 0.875rem;
  }
}


.page{
  img{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}


footer{
  .navbar{
    .navbar-nav{
      flex-direction: initial;
      .nav-item{
        .nav-link{
          padding: 0;
          padding-bottom: .15em;
          margin-right: 1rem;
          margin-left: 1rem;
          /*border-bottom: 1px solid rgba(255,255,255, .5);*/
          transition: all .15s ease-in-out;
          &:hover{
            border-bottom-color: rgba(255,255,255, 1);
          }
        }
      }
      .nav-item:first-child{
        .nav-link{
          margin-left: 0;
        }
      }
    }
  }
  .copy{
    a{
      color: rgba(255,255,255, .5);
      border-bottom: 1px solid rgba(255,255,255, .25);
      transition: all .15s ease-in-out;
      &:hover{
        color: rgba(255,255,255, 1);
        border-bottom-color: rgba(255,255,255, 1);
    }
    }
  }
}

.opacity{
  opacity: .5;
  transition: all .15s ease-in-out;
  &:hover{
    opacity: 1;
  }
}

.proj-hover{
  .wrapper{
    position: relative;
    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $blue;
      opacity: .25;
      transition: all .15s ease-in-out;
    }
  }
  &:hover{
    .wrapper{
      .overlay{
        opacity: 0;
      }
    }
  }
}



