<!-- <ul class="navbar-nav ml-auto">
  {% assign menu = site.pages | where:"menu", true %}
  {% for item in menu %}
  <li class="nav-item">
    <a class="nav-link{% if page.url contains item.url %} active{% endif %}" href="{{item.url}}">{{item.title}}</a>
  </li>
  {% endfor %}
</ul> -->

<ul class="navbar-nav ml-auto">
  {% assign menu = site.pages | where:"menu", true | sort: "menu_order" %}
  {% for item in menu %}
  {% unless item.url contains 'page' %}
  <li class="nav-item">
    <a class="nav-link{% if page.url contains item.url %} active{% endif %}" href="{{site.baseurl}}{{item.url}}">{{item.title}}</a>
  </li>
  {% endunless %}
  {% endfor %}
</ul>