{% if paginator.total_pages > 1 %} 
<section class="pagination py-4">
  <div class="container-fluid">
    <div class="row justify-content-md-center text">

          {% if paginator.previous_page %}
          <div class="col-4 text-left">
            <a href="{{site.baseurl}}{{ paginator.previous_page_path }}" class="previous underline-none">&larr;&nbsp;<span class="underline">Назад</span></a>
          </div>
          {% else %}
          <div class="col-4"></div>
          {% endif %}
          <div class="col-4 text-center">
            <span class="page-number ">Страница {{ paginator.page }}&nbsp;из&nbsp;{{ paginator.total_pages }}</span>
          </div>
          {% if paginator.next_page %}
          <div class="col-4 text-right">
            <a href="{{site.baseurl}}{{ paginator.next_page_path }}" class="next underline-none"><span class="underline">Дальше</span>&nbsp;&rarr;</a>
          </div>
          {% else %}
          <div class="col-4"></div>
          {% endif %}

    </div>
  </div>
</section>
{% endif %}