---
layout: default
---
<div class="bg-blue-dark pb-5">
  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-8 mb-5">
        <div class="h1">{{page.title}}</div>
      </div>
    </div>
  </div>
  <div class="container-fluid pb-5 px-5">
    
      <!--   <div class="col-8 mb-4">
      <p>Здесь какой-то текст с кратким описанием. Тут что-то про компанию, здесь ещё что-то, там про данные, здесь про третье, здесь про десятое, и так далее. Ну вы поняли.</p>
    </div> -->

    {% if paginator.posts %}
    <div class="row post-grid">
      {% for post in paginator.posts %}
      <div class="{% if forloop.index == 1 %}post-item-featured{% else %}post-item{% endif %} mb-3">
        <a href="{{site.baseurl}}{{post.url}}">
          <div class="img img-ratio-photo mb-2" style="background-image: url({{site.baseurl}}/img/{{post.img}});"></div>
          <h4>{{ post.title }}</h4>
        </a>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="row">
      <div class="col text-center">
        <i class="far fa-sad-cry fa-7x mb-4 text-white-50"></i>
        <h4>Статей пока нет</h4>
      </div>
    </div>
    {% endif %}


    {% include pagination.html %}

  </div>
  </div>
</div>
