---
layout: page-full
---
<div class="row justify-content-center">


  <div class="col-8 mb-4">
    {% if page.address %}<p>{{page.address}}</p>{% endif %}
    {% if page.email %}<p class="mb-4"><a href="mailto:{{page.email}}">{{page.email}}</a></p>{% endif %}
    {% if page.phone %}<h2>{{page.phone}}</h2>{% endif %}
  </div>


  <div class="col-12 mb-4">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.6294363042384!2d37.62436351580984!3d55.76493918055661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a67ffa1b64f%3A0xeb1a1333be0e2246!2sMalyy+Kisel&#39;nyy+Pereulok%2C+1%2F9%2C+402%2C+Moskva%2C+107031!5e0!3m2!1sen!2sru!4v1560546538077!5m2!1sen!2sru" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>



</div>
