---
layout: page-full
---
<div class="row justify-content-center">


  {% if page.description %}
  <div class="col-8 mb-4">
    <p>{{page.description}}</p>
  </div>
  {% endif %}


<!--   <div class="col-12">
    <div class="card-columns text-dark">
      {% for project in site.projects %}
      <a href="{{site.baseurl}}{{project.url}}" class="card p-3 mb-4 text-dark">
        <div class="card-body">
          {% if project.logo %}<img src="{{site.baseurl}}/img/{{project.logo}}" alt="{{project.title}}" class="mb-3" height="80">{% endif %}
          <h3>{{project.title}}</h3>
          <p class="mb-0">{{project.description}}</p>
        </div>
      </a>
      {% endfor %}
    </div>
  </div> -->

  <div class="col-12">
      <div class="row text-dark">
        {% assign projects = site.projects | sort: 'position' %}
        {% for project in projects %}
        <a href="{{site.baseurl}}{{project.url}}" class="col-12 col-md-6 col-lg-4 mb-4 bg-transparent underline-none proj-hover">
          <div class="card-body p-0">
            {% if project.logo %}
            <div class="wrapper mb-3">
              <div class="overlay"></div>
              <img src="{{site.baseurl}}/uploads/{{project.logo}}" alt="{{project.title}}" class="mw-100">
            </div>
            {% endif %}
            <h3>{{project.title}}</h3>
            <!-- <p class="mb-0">{{project.description}}</p> -->
          </div>
        </a>
        {% endfor %}
      </div>
  </div>


</div>
